<div id="main-div" class="row">
  <!-- MAIN SCREEN AREA -->
  <div class="small-9 columns">
    <!-- HEADER AREA -->
    <div class='row pageHead'>
      <div class="small-7 columns">
        <h2>PowerTabber</h2>
      </div>
      <div class="small-5 columns button-bar">
        <ul class="button-group headerButtons">
          <li><a href='#' id="list-mode" class="small button">List</a></li>
          <li><a href='#' id="grid-mode" class="small button">Grid</a></li>
        </ul>
      </div>
    </div>

    <!-- CONTENT AREA -->
    <div class="row content">
      <ul id="list-view" class="small-block-grid-4">
        <li>
          <div class='window' id='new-window'>
            <div class='window-header'>
              <span class='window-title'>New Window</span>
            </div>
          </div>
        </li>
      </ul>
      <ul id="grid-view" class="small-block-grid-4"></ul>
    </div>

  </div>

  <!-- LISTS AREA -->
  <div class="small-3 columns tab-list">
    <ul id='tab-categories' class='tab-list-names'>
      <li id='open'>Open</li>
      <li id='snoozeButton'>SNOOZE</li>
    </ul>
    <a href='#' id="createCategory" class='small button new-list'>New List</a>
  </div>
</div>